<h1>User <%= @user.name %> </h1>

<table>
  <tr>
    <th>Name</th>
    <th>SoName</th>
    <th>Email</th>
    <th>Address</th>
  </tr>
       <tr>
        <td><%= @user.name %></td>
        <td><%= @user.soname %></td>
        <td><%= @user.email %></td>
        <td><%= @user.address %></td>
      </tr>
  </table>